<div class="privacy-policy-content">
  <div class="title">Privacy Policy</div>
  <p>Metronomix is an Android application used as a music entertainment service.</p>
  <p>We may ask you to provide us with certain required permissions during the installation of the application. These include permissions for reading device storage needed to load sounds from the filesystem, modify audio settings to change volume inside the application and keep the screen on during the usage of the application.</p>
  <p>We do not use or store any of your personal data or information, nor do we monitor your file system contents or internet network traffic.</p>
  
  <p><strong>Changes to This Privacy Policy</strong></p>
  <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. These changes are effective immediately after they are posted on this page.</p>
  
  <p><strong>Contact Us</strong></p>
  <p>If you have any questions or suggestions about this Privacy Policy, please contact us via email aspirinumes@gmail.com.</p>
</div>
