<div class="tutorials">
  <div class="title"><a routerLink="/tutorials">Tutorials</a></div>
  
  <div class="tutorial-link">1. <a routerLink="/tutorials/how_to_export_drum_vsti">How To Export Samples from a Virtual DrumKit VST Plugin</a></div>
  <div class="tutorial-link">2. <a routerLink="/tutorials/how_to_record_guitar">How To Record and Export Guitar Riffs Audio with a DAW</a></div>
  <div class="tutorial-link">3. <a routerLink="/tutorials/how_to_record_android">How To Record, Edit and Use Audio Samples within Android</a></div>
</div>
