<div class="links-content">
  <div class="title"><a routerLink="/links">Links</a></div>
  
  <div class="link-category">
    <div class="category-title">Commercial virtual instruments and drum samples:</div>
    <div class="link">- <a href="https://www.toontrack.com/product/ezdrummer-2" target="_blank">EZdrummer</a></div>
    <div class="link">- <a href="https://www.toontrack.com/product/superior-drummer-3" target="_blank">Superior Drummer</a></div>
    <div class="link">- <a href="https://www.xlnaudio.com/products/addictive_drums_2" target="_blank">Addictive Drums</a></div>
    <div class="link">- <a href="https://www.arturia.com/spark/overview" target="_blank">Arturia Spark</a></div>
    <div class="link">- <a href="https://www.fxpansion.com/products/bfd3" target="_blank">FXpansion BFD3</a></div>
    <div class="link">- <a href="https://stevenslatedrums.com/" target="_blank">Steven Slate Drums</a></div>
    <div class="link">- <a href="https://www.meldaproduction.com/MDrummer" target="_blank">MDrummer</a></div>
    <div class="link">- <a href="https://www.iwantthatsound.com" target="_blank">That Sound</a></div>
    <div class="link">- <a href="http://www.drumagog.com/store" target="_blank">Drumagog</a></div>
    <div class="link">- <a href="http://www.platinumsamples.com/accent/oceanwaydrums.php" target="_blank">Platinum Samples</a></div>
  </div>
  <div class="link-category">
    <div class="category-title">Free virtual instruments and drum samples:</div>
    <div class="link">- <a href="https://www.powerdrumkit.com/download76187.php" target="_blank">MT Power Drum Kit</a></div>
    <div class="link">- <a href="https://www.drumdrops.com/drum-samples/60s-Rogers-Pop-Kit/bronze" target="_blank">60s Rogers Pop Kit</a></div>
    <div class="link">- <a href="http://www.bulldawgsound.com/drums/sample_lib.html" target="_blank">Big Daddy's Drum Sample Libraries</a></div>
    <div class="link">- <a href="https://rekkerd.org/nsa-custom-series-drumkit-free-acoustic-drumkit-samples-by-dean-aka-nekro" target="_blank">NSA Custom Series Drumkit</a></div>
    <div class="link">- <a href="http://sennheiser.us/drummica.html" target="_blank">Sennheiser DrumMic'a!</a> (Select DrumMic'a! > Info & Downloads from the menu)</div>
    <div class="link">- <a href="https://rytmenpinne.wordpress.com/sounds-and-such/salamander-drumkit" target="_blank">Salamander drumkit</a></div>
    <div class="link">- <a href="https://www.drumgizmo.org/wiki/doku.php?id=kits" target="_blank">DrumGizmo</a></div>
    <div class="link">- <a href="https://www.indiedrums.com/2015/10/10/slingerland-kit" target="_blank">Slingerland Drum Samples</a></div>
  </div>
  <div class="link-category">
    <div class="category-title">Digital audio workstations:</div>
    <div class="link">- <a href="https://www.ableton.com/en" target="_blank">Ableton Live</a></div>
    <div class="link">- <a href="https://new.steinberg.net/cubase" target="_blank">Cubase</a></div>
    <div class="link">- <a href="https://www.image-line.com/flstudio" target="_blank">FL Studio</a></div>
    <div class="link">- <a href="https://www.avid.com/pro-tools" target="_blank">Pro Tools</a></div>
    <div class="link">- <a href="http://reaper.fm" target="_blank">REAPER</a></div>
  </div>
</div>
